<div class="form-settings">
  <form name="settings" action="/results" method="post">
    <input type="radio" name="rianews" value="economy" checked>РИА-Новости: Экономика<br>
    <input type="radio" name="rianews" value="politics">РИА-Новости: Политика<br>
    <input type="radio" name="rianews" value="sport">РИА-Новости: Спорт<br>
    <button type="submit" name="submit">Получить новости!</button>
  </form>
</div>